<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="updateroom/">
        <div style="text-align: center">
            <input type="text" name="area">지역 <br>
            <input type="text" name="room_category"> 카테 <br>
            <input type="text" name="room_name"> 방제 <br>
            <input type="text" name="description"> 설명 <br>
            <input type="text" name="limit"> 
            <input type="text" name="status"> 상태 <br>
            <input type="text" name="start_time">
        </div>
        <input type="submit" value="작성">
    </form>
</body>
</html>